.bar {
    display: flex;
    align-items: center;
    font-size: 0.875rem;
    width: auto;
    padding: 0.25rem 0;
    padding-left: 1.25rem;
    transition: all ease 0.2s;
}
.bar:hover {
    background-color: #2f2e2e; /* Change background color on hover */
}
.bar {
  display: flex;
  align-items: center; /* Align icon and text vertically */
  gap: 8px; /* Spacing between icon and text */
}

.logo {
  width: 1.5rem; /* Set desired size for the container */
  height: 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo svg {
  width: 100%; /* Make the SVG take full width of the container */
  height: 100%;
  object-fit: contain; /* Ensure SVG maintains aspect ratio */
}
